<div class="container m-4" style="width: 100vw">
  <div class="row d-flex align-items-center">
    <div class="col-10">
      <h5 class="card-title py-2">Listado de Productos</h5>
    </div>
    <div class="col-2 d-flex">
      <div class="btn-group my-2 btn-actions">
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{ disabled: productos.length < 1 || paginaActual === 1 }"
          (click)="actualizarPagina('primera')"
        >
          «
        </button>
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{ disabled: productos.length < 1 || paginaActual === 1 }"
          (click)="actualizarPagina('anterior')"
        >
          ‹
        </button>
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{ disabled: productos.length < 1 || !hayMasElementos() }"
          (click)="actualizarPagina('siguiente')"
        >
          ›
        </button>
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{
            disabled: productos.length < 1 || paginaActual === totalPaginas
          }"
          (click)="actualizarPagina('ultima')"
        >
          »
        </button>
      </div>

      <button class="btn btn-success m-2" (click)="agregarProducto()">
        <span class="material-icons" style="font-size: 16px">add</span>
      </button>
    </div>
  </div>

  <div class="row overflow-x-auto">
    <table
      class="table table-bordered table-striped table-hover text-center text-nowrap align-middle"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Proveedor</th>
          <th>Categoría</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosMostrados">
          <td class="px-4">{{ producto.id }}</td>
          <td class="px-4">{{ producto.proveedor }}</td>
          <td class="px-4">{{ producto.categoria }}</td>
          <td class="px-4">{{ producto.nombre }}</td>
          <td class="px-4">{{ producto.descripcion }}</td>
          <td class="px-4">${{ producto.precio }}</td>
          <td class="px-4">
            <div class="btn-group my-2 btn-actions">
              <button
                class="btn btn-outline-primary"
                (click)="editarProducto(producto.id)"
              >
                <span class="material-icons" style="font-size: 16px">edit</span>
              </button>
              <button
                class="btn btn-outline-danger"
                (click)="eliminarProducto(producto)"
              >
                <span class="material-icons" style="font-size: 16px"
                  >delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
