<div class="container m-4" style="width: 100vw">
  <div class="row d-flex align-items-center">
    <div class="col-9">
      <h5 class="card-title py-2">Listado de Productos</h5>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <!-- Pagination -->
      <div class="btn-group my-2 btn-actions">
        <button
          class="btn btn-outline-secondary"
          [disabled]="productList.length < 1 || currentPage === 1"
          (click)="updatePage('first')"
        >
          «
        </button>
        <button
          class="btn btn-outline-secondary"
          [disabled]="productList.length < 1 || currentPage === 1"
          (click)="updatePage('prev')"
        >
          ‹
        </button>
        <button
          class="btn btn-outline-secondary"
          [disabled]="productList.length < 1 || !hasMoreItems()"
          (click)="updatePage('next')"
        >
          ›
        </button>
        <button
          class="btn btn-outline-secondary"
          [disabled]="productList.length < 1 || currentPage === totalPages"
          (click)="updatePage('last')"
        >
          »
        </button>
      </div>

      <!-- Add Product -->
      <button
        class="btn btn-success m-2 d-flex justify-content-center align-items-center"
        (click)="addProduct()"
      >
        <span class="material-icons" style="font-size: 16px; margin-right: 4px"
          >add</span
        >
        Nuevo
      </button>
    </div>
  </div>

  <div class="row overflow-x-auto">
    <!-- Product List -->
    <table
      class="table table-bordered table-striped table-hover text-center text-nowrap align-middle"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Proveedor</th>
          <th>Categoría</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of displayedProducts">
          <td class="px-4">{{ product.id }}</td>
          <td class="px-4">{{ product.proveedor }}</td>
          <td class="px-4">{{ product.categoria }}</td>
          <td class="px-4">{{ product.nombre }}</td>
          <td class="px-4">{{ product.descripcion }}</td>
          <td class="px-4">${{ product.precio }}</td>

          <td class="px-4">
            <!-- Actions -->
            <div class="btn-group my-2 btn-actions">
              <button
                class="btn btn-outline-secondary btn-edit"
                (click)="editProduct(product.id)"
              >
                <span class="material-icons" style="font-size: 16px">edit</span>
              </button>
              <button
                class="btn btn-outline-danger"
                (click)="deleteProduct(product)"
              >
                <span class="material-icons" style="font-size: 16px"
                  >delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
