<div class="container m-4" style="width: 100vw">
  <div class="row d-flex align-items-center">
    <div class="col-10">
      <h5 class="card-title py-2">Listado de Ordenes</h5>
    </div>
    <div class="col-2 d-flex">
      <div class="btn-group my-2 btn-actions">
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{ disabled: ordenes.length < 1 || paginaActual === 1 }"
          (click)="actualizarPagina('primera')"
        >
          «
        </button>
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{ disabled: ordenes.length < 1 || paginaActual === 1 }"
          (click)="actualizarPagina('anterior')"
        >
          ‹
        </button>
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{ disabled: ordenes.length < 1 || !hayMasElementos() }"
          (click)="actualizarPagina('siguiente')"
        >
          ›
        </button>
        <button
          class="btn btn-outline-secondary"
          [ngClass]="{
            disabled: ordenes.length < 1 || paginaActual === totalPaginas
          }"
          (click)="actualizarPagina('ultima')"
        >
          »
        </button>
      </div>

      <button class="btn btn-success m-2" (click)="agregarOrden()">
        <span class="material-icons" style="font-size: 16px">add</span>
      </button>
    </div>
  </div>

  <div class="row overflow-x-auto">
    <table
      class="table table-bordered table-striped table-hover text-center text-nowrap align-middle"
    >
      <thead>
        <tr>
          <th class="px-4">ID</th>
          <th class="px-4">Fecha de emisión</th>
          <th class="px-4">Fecha de entrega</th>
          <th class="px-4">Dirección</th>
          <th class="px-4">Proveedor</th>
          <th class="px-4">Productos</th>
          <th class="px-4">Cantidad</th>
          <th class="px-4">Total</th>
          <th class="px-4">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenesMostradas">
          <td>{{ orden.id }}</td>
          <td>{{ orden.fechaEmision }}</td>
          <td>{{ orden.fechaEntrega }}</td>
          <td>{{ orden.direccion }}</td>
          <td>{{ orden.proveedor }}</td>
          <td>{{ orden.productos }}</td>
          <td>{{ orden.cantidad }}</td>
          <td>${{ orden.total }}</td>

          <td>
            <div class="btn-group my-2 btn-actions">
              <button
                class="btn btn-outline-primary"
                (click)="editarOrden(orden.id)"
              >
                <span class="material-icons" style="font-size: 16px">edit</span>
              </button>
              <button
                class="btn btn-outline-danger"
                (click)="eliminarOrden(orden)"
              >
                <span class="material-icons" style="font-size: 16px"
                  >delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
