<div class="container m-4" style="width: 100vw">
  <div class="row d-flex align-items-center">
    <div class="col-9">
      <h5 class="card-title py-2">Listado de Ordenes</h5>
    </div>
    <div class="col-3 d-flex justify-content-end">
      <!-- Pagination -->
      <div class="btn-group my-2 btn-actions">
        <button
          class="btn btn-outline-secondary"
          [disabled]="orderList.length < 1 || currentPage === 1"
          (click)="updatePage('first')"
        >
          «
        </button>
        <button
          class="btn btn-outline-secondary"
          [disabled]="orderList.length < 1 || currentPage === 1"
          (click)="updatePage('prev')"
        >
          ‹
        </button>
        <button
          class="btn btn-outline-secondary"
          [disabled]="orderList.length < 1 || !hasMoreItems()"
          (click)="updatePage('next')"
        >
          ›
        </button>
        <button
          class="btn btn-outline-secondary"
          [disabled]="orderList.length < 1 || currentPage === totalPages"
          (click)="updatePage('last')"
        >
          »
        </button>
      </div>

      <!-- Add Order -->
      <button
        class="btn btn-success m-2 d-flex justify-content-center align-items-center"
        (click)="addOrder()"
      >
        <span class="material-icons" style="font-size: 16px; margin-right: 4px"
          >add</span
        >
        Nuevo
      </button>
    </div>
  </div>

  <div class="row overflow-x-auto">
    <!-- Order List -->
    <table
      class="table table-bordered table-striped table-hover text-center text-nowrap align-middle"
    >
      <thead>
        <tr>
          <th class="px-4">ID</th>
          <th class="px-4">Fecha de Emisión</th>
          <th class="px-4">Fecha de Entrega</th>
          <th class="px-4">Dirección</th>
          <th class="px-4">Proveedor</th>
          <th class="px-4">Productos</th>
          <th class="px-4">Cantidad</th>
          <th class="px-4">Total</th>
          <th class="px-4">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of displayedOrders">
          <td>{{ order.id }}</td>
          <td>{{ order.fechaEmision }}</td>
          <td>{{ order.fechaEntrega }}</td>
          <td>{{ order.direccion }}</td>
          <td>{{ order.proveedor }}</td>
          <td>{{ order.productos }}</td>
          <td>{{ order.cantidad }}</td>
          <td>${{ order.total }}</td>

          <td>
            <!-- Actions -->
            <div class="btn-group my-2 btn-actions">
              <button
                class="btn btn-outline-secondary btn-edit"
                (click)="editOrder(order.id)"
              >
                <span class="material-icons" style="font-size: 16px">edit</span>
              </button>
              <button
                class="btn btn-outline-danger"
                (click)="deleteOrder(order)"
              >
                <span class="material-icons" style="font-size: 16px"
                  >delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
