<div class="container my-4" style="width: 50vw">
  <div class="row-md-12">
    <div class="col-md-12">
      <h2 class="mb-4">
        {{ isAddView ? "Nueva Orden" : "Detalle de Orden" }}
      </h2>

      <form #OrderForm="ngForm" (ngSubmit)="onSubmit(OrderForm)">
        <div class="row">
          <div class="col-md-4 me-4" *ngIf="isAddView">
            <fieldset class="mb-4">
              <!-- <legend>Sección</legend> -->
              <!-- Proveedor -->
              <div class="mb-3">
                <label for="country" class="form-label">Proveedor</label>
                <select
                  class="form-select"
                  id="supplier"
                  name="supplier"
                  [(ngModel)]="selectedSupplier"
                  (ngModelChange)="onSupplierChange($event)"
                  #supplier="ngModel"
                  [disabled]="productAdded"
                  required
                >
                  <option value="" disabled selected>Seleccionar</option>
                  <option
                    *ngFor="let supplier of supplierList"
                    [value]="supplier.id"
                  >
                    {{ supplier.businessName }}
                  </option>
                </select>
                <div
                  *ngIf="supplier.touched && supplier.errors?.['required'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger">
                    Seleccione un proveedor
                  </span>
                </div>
              </div>

              <!-- Producto -->
              <div class="mb-3">
                <label for="product" class="form-label">Producto</label>
                <select
                  class="form-select"
                  id="product"
                  name="product"
                  [(ngModel)]="selectedProduct"
                  #product="ngModel"
                  required
                >
                  <option value="" disabled selected>Seleccionar</option>
                  <option
                    *ngFor="let product of filteredProducts"
                    [value]="product.id"
                  >
                    {{ product.name }}
                  </option>
                </select>
                <div
                  *ngIf="product.touched && !selectedSupplier"
                  class="col-auto"
                >
                  <span class="form-text text-danger">
                    Seleccione un proveedor primero
                  </span>
                </div>
                <div
                  *ngIf="product.touched && product.errors?.['required'] && selectedSupplier"
                  class="col-auto"
                >
                  <span class="form-text text-danger">
                    Seleccione un producto
                  </span>
                </div>
              </div>

              <!-- Cantidad -->
              <div class="mb-3">
                <label for="price" class="form-label">Cantidad</label>
                <input
                  type="number"
                  class="form-control"
                  id="quantity"
                  name="quantity"
                  [ngClass]="{
                                'is-invalid': quantity.touched && quantity.errors,
                                'is-valid': quantity.touched && !quantity.errors,
                              }"
                  [(ngModel)]="selectedQuantity"
                  #quantity="ngModel"
                  required
                  min="1"
                  max="99"
                />
                <div
                  *ngIf="quantity.touched && quantity.errors?.['required'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >Ingrese una cantidad</span
                  >
                </div>
                <div
                  *ngIf="quantity.touched && quantity.errors?.['min'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >La cantidad mínima es 1</span
                  >
                </div>
                <div
                  *ngIf="quantity.touched && quantity.errors?.['max'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >La cantidad máxima es 99</span
                  >
                </div>
              </div>

              <div class="mb-3 d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-success"
                  [disabled]="!selectedSupplier || !selectedProduct"
                  (click)="addProduct()"
                >
                  Agregar
                </button>
              </div>
            </fieldset>
          </div>

          <div class="col-md">
            <fieldset class="mb-4">
              <!-- <legend>Sección</legend> -->

              <div class="row">
                <div class="col-md-6">
                  <!-- ID -->
                  <div class="mb-3" *ngIf="!isAddView">
                    <label for="id" class="form-label">N° de Orden</label>
                    <input
                      type="text"
                      class="form-control"
                      id="id"
                      name="id"
                      [(ngModel)]="order.id"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <!-- Estado -->
                  <div class="mb-3" *ngIf="!isAddView">
                    <label for="is-active" class="form-label">Estado</label>
                    <input
                      type="text"
                      class="form-control"
                      id="is-active"
                      name="isActive"
                      [ngModel]="order.isActive ? 'ACTIVA' : 'CANCELADA'"
                      [ngClass]="
                        order.isActive ? 'order-active' : 'order-cancelled'
                      "
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <!-- Issue Date -->
                  <div class="mb-3">
                    <label for="issueDate" class="form-label"
                      >Fecha de Emisión</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="issueDate"
                      name="issueDate"
                      [ngModel]="
                        isAddView
                          ? (todayDate | date : 'dd/MM/yyyy')
                          : (order.issueDate | date : 'dd/MM/yyyy')
                      "
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <!-- Delivery Date -->
                  <div class="mb-3">
                    <label for="deliveryDate" class="form-label"
                      >Fecha de Entrega</label
                    >
                    <!-- Vista Nueva Orden -->
                    <div *ngIf="isAddView">
                      <input
                        type="date"
                        class="form-control"
                        id="deliveryDate"
                        name="deliveryDate"
                        [ngClass]="{
                      'is-invalid': deliveryDate.touched && deliveryDate.errors,
                      'is-valid': deliveryDate.touched && !deliveryDate.errors,
                    }"
                        [ngModel]="order.deliveryDate"
                        #deliveryDate="ngModel"
                        [min]="getMinDate()"
                        [max]="getMaxDate()"
                        required
                      />
                      <div
                        *ngIf="deliveryDate.touched && deliveryDate.errors?.['required']"
                        class="col-auto"
                      >
                        <span class="form-text text-danger"
                          >Seleccione una fecha de entrega</span
                        >
                      </div>
                      <div
                        *ngIf="deliveryDate.touched && deliveryDate.errors?.['min']"
                        class="col-auto"
                      >
                        <span class="form-text text-danger"
                          >La fecha de entrega debe ser mayor a 48 hs.</span
                        >
                      </div>
                      <div
                        *ngIf="deliveryDate.touched && deliveryDate.errors?.['max']"
                        class="col-auto"
                      >
                        <span class="form-text text-danger"
                          >La fecha de entrega no puede superar los 30
                          días</span
                        >
                      </div>
                    </div>
                    <!-- Vista Detalle Orden -->
                    <div *ngIf="!isAddView">
                      <input
                        type="text"
                        class="form-control"
                        id="deliveryDate"
                        name="deliveryDate"
                        [ngModel]="order.deliveryDate | date : 'dd/MM/yyyy'"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Comentarios -->
                <div class="mb-3">
                  <label for="comments" class="form-label"
                    >Información de Recepción</label
                  >
                  <textarea
                    class="form-control"
                    id="comments"
                    name="comments"
                    [ngClass]="{
                      'is-invalid': comments.touched && comments.errors,
                      'is-valid':
                        comments.touched &&
                        !comments.errors &&
                        comments.value &&
                        isAddView
                    }"
                    [(ngModel)]="order.comments"
                    #comments="ngModel"
                    maxlength="200"
                    [readonly]="!isAddView"
                  ></textarea>
                  <div
                    *ngIf="comments.touched && comments.errors?.['maxlength'] "
                    class="col-auto"
                  >
                    <span class="form-text text-danger"
                      >El comentario debe ser más breve</span
                    >
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row my-3">
          <!-- Productos -->
          <h4 class="mb-3">Productos</h4>
          <p *ngIf="orderItemList.length < 1">No se cargaron productos.</p>
          <table
            class="table table-bordered table-hover text-center align-middle"
            *ngIf="orderItemList.length > 0"
          >
            <thead class="table-light">
              <tr>
                <th>SKU</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th *ngIf="isAddView">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orderItemList">
                <td>{{ item.product.sku }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price | currency }}</td>
                <td>{{ item.subtotal | currency }}</td>
                <td *ngIf="isAddView">
                  <!-- Actions -->
                  <div class="btn-group my-2 btn-actions">
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="confirmDelete(item.product.id)"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                    >
                      <span class="material-icons" style="font-size: 16px">
                        delete
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot style="border: none">
              <tr style="border: none">
                <td colspan="4" class="text-end" style="border: none">
                  <strong>Total:</strong>
                </td>
                <td class="text-center" style="border: none">
                  {{ calculateTotal() | currency }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- Delete Modal -->
        <div
          class="modal fade"
          id="deleteModal"
          tabindex="-1"
          aria-labelledby="deleteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">
                  Remover Producto
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                {{ deleteMessage }}
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                  (click)="removeProduct()"
                >
                  Remover
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Acciones -->
          <div class="d-flex justify-content-center">
            <button
              class="btn btn-secondary"
              routerLink="/orders"
              *ngIf="!isAddView"
            >
              Volver
            </button>
            <button
              class="btn btn-outline-secondary"
              routerLink="/orders"
              *ngIf="isAddView"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-success ms-2"
              *ngIf="isAddView"
              [disabled]="OrderForm.invalid || orderItemList.length < 1"
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
