/* .my-navbar {
  position: fixed;
  width: 100vw;
} */

.nav-link {
  border-radius: 0.375rem;
}

.active-link {
  border: 1px solid #393e46;
}

/* .hover-effect:hover {
  background-color: #393e46;
  color: #fff !important;
} */
