<div class="container my-4" style="width: 50vw">
  <div class="row-md-12">
    <div class="col-md-12">
      <h2 class="mb-4">
        {{ isEditView ? "Editar Producto" : "Alta de Producto" }}
      </h2>

      <form #ProductForm="ngForm" (ngSubmit)="onSubmit(ProductForm)">
        <div class="row">
          <div class="col-md-6">
            <fieldset class="mb-4">
              <!-- <legend>Datos del Producto</legend> -->
              <!-- SKU -->
              <div class="mb-3" *ngIf="isEditView">
                <label for="sku" class="form-label">SKU</label>
                <input
                  type="text"
                  class="form-control"
                  id="sku"
                  name="sku"
                  [(ngModel)]="product.sku"
                  disabled
                />
              </div>

              <!-- Nombre -->
              <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  [ngClass]="{
                        'is-invalid': name.touched && name.errors,
                        'is-valid': name.touched && !name.errors,
                      }"
                  [(ngModel)]="product.name"
                  #name="ngModel"
                  required
                  minlength="4"
                  maxlength="50"
                />
                <div
                  *ngIf="name.touched && name.errors?.['required'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger">Ingrese un nombre</span>
                </div>
                <div
                  *ngIf="name.touched && name.errors?.['minlength'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >El nombre debe tener al menos 4 caracteres</span
                  >
                </div>
                <div
                  *ngIf="name.touched && name.errors?.['maxlength'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >El nombre no debe superar los 50 caracteres</span
                  >
                </div>
              </div>

              <!-- Descripción -->
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea
                  class="form-control"
                  id="description"
                  name="description"
                  [ngClass]="{
                    'is-invalid': description.touched && description.errors,
                    'is-valid': description.touched && !description.errors,
                  }"
                  [(ngModel)]="product.description"
                  #description="ngModel"
                  required
                  minlength="10"
                  maxlength="200"
                ></textarea>
                <div
                  *ngIf="description.touched && description.errors?.['required'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >Ingrese una descripción</span
                  >
                </div>
                <div
                  *ngIf="description.touched && description.errors?.['minlength'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >La descripción debe tener al menos 10 caracteres</span
                  >
                </div>
                <div
                  *ngIf="description.touched && description.errors?.['maxlength'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >La descripción no debe superar los 200 caracteres</span
                  >
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-md-6">
            <fieldset class="mb-4">
              <!-- <legend>Datos Comerciales</legend> -->
              <!-- Categoría -->
              <div class="mb-3">
                <label for="category" class="form-label">Categoría</label>
                <select
                  class="form-select"
                  id="category"
                  name="category"
                  [ngClass]="{
                    'is-invalid': category.touched && category.errors,
                    'is-valid': category.touched && !category.errors,
                  }"
                  [(ngModel)]="product.category"
                  #category="ngModel"
                  required
                >
                  <option value="" disabled selected>Seleccionar</option>
                  <option
                    *ngFor="let category of categoryList"
                    [value]="category.name"
                  >
                    {{ category.name }}
                  </option>
                </select>
                <div
                  *ngIf="category.touched && category.errors?.['required'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >Seleccione una categoría</span
                  >
                </div>
              </div>

              <!-- Proveedor -->
              <div class="mb-3">
                <label for="supplier-id" class="form-label">Proveedor</label>
                <select
                  class="form-select"
                  id="supplier-id"
                  name="supplierId"
                  [ngClass]="{
                    'is-invalid': supplierId.touched && (supplierId.errors || product.supplierId === null),
                    'is-valid': supplierId.touched && !supplierId.errors,
                  }"
                  [(ngModel)]="product.supplierId"
                  #supplierId="ngModel"
                  required
                >
                  <option value="null" disabled selected>Seleccionar</option>
                  <option
                    *ngFor="let supplier of supplierList"
                    [value]="supplier.id"
                  >
                    {{ supplier.businessName }}
                  </option>
                </select>
                <div
                  *ngIf="supplierId.touched && (supplierId.errors?.['required'] || product.supplierId === null)"
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >Seleccione un proveedor</span
                  >
                </div>
              </div>

              <!-- Precio -->
              <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  name="price"
                  [ngClass]="{
                                'is-invalid': price.touched && price.errors,
                                'is-valid': price.touched && !price.errors,
                              }"
                  [(ngModel)]="product.price"
                  #price="ngModel"
                  required
                  min="0"
                />
                <div
                  *ngIf="price.touched && price.errors?.['required'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger">Ingrese un precio</span>
                </div>
                <div
                  *ngIf="price.touched && price.errors?.['min'] "
                  class="col-auto"
                >
                  <span class="form-text text-danger"
                    >El precio no puede ser negativo</span
                  >
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <!-- Acciones -->
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-secondary" routerLink="/products">
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-success ms-2"
              [disabled]="ProductForm.invalid"
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
