<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary my-container">
  <a
    routerLink="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <span class="fs-4">Projects</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/projects/todolist"
        class="nav-link"
        aria-current="page"
        [ngClass]="
          isCurrentRoute('/projects/todolist') ? 'active' : 'link-body-emphasis'
        "
      >
        <div class="d-flex align-items-center">
          <span
            class="material-icons-outlined"
            style="font-size: 18px; margin-right: 10px"
            >task_alt</span
          >
          To-Do List
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/projects/simpsons"
        class="nav-link"
        [ngClass]="
          isCurrentRoute('/projects/simpsons') ? 'active' : 'link-body-emphasis'
        "
      >
        <div class="d-flex align-items-center">
          <span
            class="material-icons-outlined"
            style="font-size: 18px; margin-right: 10px"
            >tv</span
          >
          Simpsons
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/"
        class="nav-link"
        [ngClass]="
          isCurrentRoute('/projects/project3') ? 'active' : 'link-body-emphasis'
        "
      >
        <div class="d-flex align-items-center">
          <span
            class="material-icons-outlined"
            style="font-size: 18px; margin-right: 10px"
            >folder</span
          >
          Project 3
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/"
        class="nav-link"
        [ngClass]="
          isCurrentRoute('/projects/project4') ? 'active' : 'link-body-emphasis'
        "
      >
        <div class="d-flex align-items-center">
          <span
            class="material-icons-outlined"
            style="font-size: 18px; margin-right: 10px"
            >folder</span
          >
          Project 4
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/"
        class="nav-link"
        [ngClass]="
          isCurrentRoute('/projects/project5') ? 'active' : 'link-body-emphasis'
        "
      >
        <div class="d-flex align-items-center">
          <span
            class="material-icons-outlined"
            style="font-size: 18px; margin-right: 10px"
            >folder</span
          >
          Project 5
        </div>
      </a>
    </li>
  </ul>
  <hr />
</div>
