<div class="m-5">
  <h2 class="mb-4">To-Do List</h2>

  <div class="input-group mb-3">
    <!-- Add Task -->
    <input
      type="text"
      class="form-control"
      [(ngModel)]="newTask"
      (keyup.enter)="addTask()"
    />
    <button class="btn btn-outline-primary" (click)="addTask()">
      Add Task
    </button>

    <!-- Filter -->
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ filter }}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" (click)="updateFilter('All')">All</a>
      <a class="dropdown-item" (click)="updateFilter('Done')">Done</a>
      <a class="dropdown-item" (click)="updateFilter('Pending')">Pending</a>
      <a class="dropdown-item" (click)="updateFilter('Deleted')">Deleted</a>
    </div>
  </div>

  <!-- Task List -->
  <ul class="list-group task-list">
    <li
      *ngFor="let task of getFilteredTasks(); let i = index"
      class="list-group-item d-flex justify-content-between align-items-center"
      [ngClass]="{
        'completed-task': task.done,
        'deleted-task': task.deleted
      }"
    >
      <div class="d-flex align-items-center justify-content-end">
        <!-- Details -->
        <div class="d-flex flex-column">
          <span class="task-description">{{ task.description }}</span>
          <span class="task-date">{{ task.date | date : "short" }}</span>
        </div>

        <!-- Actions -->
        <div class="btn-group my-2 btn-actions">
          <button
            *ngIf="!task.deleted"
            class="btn btn-sm btn-success"
            (click)="completeTask(task)"
          >
            Done
          </button>
          <button
            *ngIf="task.deleted"
            class="btn btn-sm btn-primary"
            (click)="recoverTask(task)"
          >
            Recover
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteTask(task)">
            Delete
          </button>
        </div>
      </div>
    </li>
  </ul>

  <!-- Clear Tasks -->
  <button
    *ngIf="showClearAll()"
    class="btn btn-outline-danger mt-3"
    (click)="clearAll()"
  >
    Clear All
  </button>

  <!-- Permanently Delete Tasks -->
  <button
    *ngIf="showDeleteAll()"
    class="btn btn-outline-danger mt-3"
    (click)="deleteAll()"
  >
    Delete All
  </button>
</div>
