<div
  class="container m-4 d-flex justify-content-center align-items-center"
  style="height: 70vh; width: 100vw"
>
  <div class="card-group gap-5">
    <!-- Suppliers -->
    <div class="col-md">
      <div class="card" style="width: 18rem" routerLink="/suppliers">
        <img
          src="../../../../assets/img/home/suppliers/suppliers.jpg"
          class="card-img-top"
          alt="..."
          style="height: 250px; object-fit: cover"
        />
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title mt-2 mb-2">Proveedores</h5>
          <!-- <a routerLink="/suppliers" class="btn btn-primary">Seleccionar</a> -->
        </div>
      </div>
    </div>

    <!-- Products -->
    <div class="col-md">
      <div class="card" style="width: 18rem" routerLink="/products">
        <img
          src="../../../../assets/img/home/products/products.jpg"
          class="card-img-top"
          alt="..."
          style="height: 250px; object-fit: cover"
        />
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title mt-2 mb-2">Productos</h5>
          <!-- <a routerLink="/products" class="btn btn-primary">Seleccionar</a> -->
        </div>
      </div>
    </div>

    <!-- Orders -->
    <div class="col-md">
      <div class="card" style="width: 18rem" routerLink="/orders">
        <img
          src="../../../../assets/img/home/orders/orders.jpg"
          class="card-img-top"
          alt="..."
          style="height: 250px; object-fit: cover"
        />
        <div class="card-body d-flex flex-column align-items-center">
          <h5 class="card-title mt-2 mb-2">Ordenes</h5>
          <!-- <a routerLink="/orders" class="btn btn-primary">Seleccionar</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
